@import "logo.scss";

html,body{
    margin:0;
    padding:0;
    background-color:black;
    color:white;

    .swiper-slide {
        width: auto!important;
    }

    .swiper-button-prev,.swiper-button-next{
        position: absolute;
        top: 30%;
        width: 25px;
        height: 25px;
        background-color:white;
        border-radius:50%;
        padding-top:3px;

        &::after{
            font-size:15px !important;
        }
      }

      .swiper-button-prev{
        left:-10px;
      }
      .swiper-button-next{
        right:-10px;
      }
}


